*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
**/*.apk

.cache/
.cmake/
*.a
*.lib
*.dylib
*.dll

out/
*.iws
*.ipr
*.trace
*.log

.kotlin
**/build/
xcuserdata
!src/**/build/
.idea
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

