*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
**/*.apk

### C ###
.cache/
.cmake/
*.a
*.lib
*.so
*.dylib
*.dll

### JetBrains ###
.idea/*
out/
*.iws
*.ipr
*.trace
*.log
